<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/Eliminar" method="POST">
        <div class="username"> 
            <input type="text" name="Pregunta1" required>
            <label>Nombre</label>
        </div>
        <div class="username">
            <input type="text" name="Pregunta3" required>
            <label>Precio</label>
        </div>
        <div class="use">


            <button type="submit"> Borrar </button>
            <button type="reset"> Cancelar </button>
        </div>

    </form>

</body>
</html>