<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="Formulario">
        <h1> Flores </h1>  
        <form action="">
            <a href="{{ url_for('Borrar') }}"><button type="button">Eliminar</button></a> 
        </form> 
        <form action="/Guardar" method="POST">
            <div class="username"> 
                <input type="text" name="Pregunta1" required>
                <label>Nombre</label>
            </div>
            <div class="username">
                <input type="text" name="Pregunta2" required>
                <label>Cantidad</label>
            </div>
            <div class="username">
                <input type="text" name="Pregunta3" required>
                <label>Precio</label>
            </div>
            <div class="use">
                <button type="submit"> Guardar</button>
                <button type="reset"> Cancelar </button>
            </div>
        </form>
        <center>
            <table border="1">
                <thead>
                  <tr>
                    <td>ID:</td>
                    <td>Nombre:</td>
                    <td>Cantidad:</td>
                    <td>Precio:</td>
                  </tr>
                </thead>
                <tbody>
                  {% for flo in listFlo %}
                  <tr>
                    <td>{{ alb.0 }}</td>
                    <td>{{ alb.1 }}</td>
                    <td>{{ alb.2 }}</td>
                    <td>{{ alb.3 }}</td>
                    <td>
                    </td>
                  </tr>
                  {%endfor%}
                </tbody>
              </table>
            </center>
</body>
</html>